.friendsdiv {
    background-color: #ffe4e4;
    padding: 10px;
    border: 1px ;
    width: 220px;
    height: 220px;
}

.songdiv {
    background-color: #f0ad76;
    padding: 10px;
    border: 1px ;
    width: 220px;
    height: 220px;
}