.friendsdiv {
    background-color: #ffe4e4;
    padding: 10px;
    border: 1px ;
    width: 220px;
    height: 220px;
    z-index: 0;
}

p {
    color: #be3219;
    padding: 10px;
    border: 1px ;
    width: 220px;
    height: 220px;
}