button {
  max-width: 100px;
}
body {
  display: flex;
  flex-direction: column;
}
.friendsdiv {
  display: flex;
  flex-direction: column;
  background-color: #9013c2;
  padding: 10px;
  border: 1px solid red;
  border-radius: 40%;
  width: 220px;
  height: 220px;
  z-index: 0;
}

.songdiv {
  display: flex;
  flex-direction: column;
  background-color: #edd3f7;
  padding: 10px;
  border: 1px solid rgb(17, 0, 255);
  border-radius: 40%;
  width: 120px;
  height: 120px;
  float: right;
}

p {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: #e7e30e;
}
